##	Use absolute paths
##	Leave (??) if not used in the analysis


## Trimmer ##
fastp:	??
skewer:	??
cutadapt:	??
afterqc:	??

## Aligner ##
bowtie2: ??
bowtie2build: ??
bwa:	??

## Utility ##
samtools:	??
bcftools:   ??
sambamba:	??
cnvkit:	??

## Caller ##
gatk:	??
strelkabin:	??
mantabin:	??

## Resources ##
knownsites:	??
reference:	??
